<h1>アカウントのログイン</h1>
<%= form_tag("/login") do %>

<div>
<p>email</p>
<input type="email" name="email">
</div>

<div>
<p>password</p>
<input type="password" name="password">
</div>

<br>

<input type="submit">

<%end%>