<h1>アニメ投稿一覧</h1>
<ul>
    <% @posts.each do |post| %>
    <div>
    <li>
    <%=link_to(post.title,"/posts/#{post.id}/show")%>
    <%=link_to "いいね","/likes/#{post.id}/judge",  data: { 'turbo-method' => :post }%>
    </li>
    </div>
    <%end%>
</ul>
<br>
<div>
<%=link_to("新規投稿","/posts/new")%>
</div>

