<h1>新規投稿</h1>

<%= form_tag("/posts/create",{multipart: true}) do %>

  <div class="mb-3">
    <label for="title" class="form-label">タイトル</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div>
    <label for="genre" class="form-label">ジャンル</label>
    <select class="form-select" name="genre" id="genre">
      <option value="SF">SF</option>
      <option value="アクション">アクション</option>
      <option value="コメディー">コメディー</option>
    </select>
  </div> 

  <div class="mb-3">
    <label for="content" class="form-label">内容</label>
    <textarea class="form-control" rows="10" cols="50" name="content" id="content" required></textarea>
  </div>

  <div class="mb-3">
    <label for="point" class="form-label">点数</label>
    <input type="number" class="form-control" id="point" name="point" min="0" max="100" required>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">画像</label>
    <input class="form-control" type="file" id="image" name="image" required>
  </div>

  <button type="submit" class="btn btn-primary">新規投稿</button>
<% end %> 
<br>